.top-banner {
  background: url(../img/4.webp) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15% 0px 10% 0px;
}

.top-banner .container {
  padding-right: 50%;
}

@media only all and (min-width: 3000px) {
  .top-banner {
    background-image: url(../img/source/store/bg-4000.jpg);
  }
}

@media only all and (max-width: 3000px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image3000.jpg);
  }
}

@media only all and (max-width: 2500px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image2500.jpg);
  }
}

@media only all and (max-width: 1920px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image1920.jpg);
  }
}

@media only all and (max-width: 1366px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image1366.jpg);
  }
}

@media only all and (max-width: 800px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image800.jpg);
  }
}

@media only all and (max-width: 415px) and (-webkit-max-device-pixel-ratio: 1), only all and (max-width: 415px) and (max-resolution: 1dppx) {
  .top-banner {
    background-image: url(../img/source/store/bg-image415.jpg);
  }
}

p {
  margin-bottom: 30px;
}

article {
  padding: 140px 0px;
  border-bottom: #d1d5db 1px solid;
}

article h2 {
  padding: 40px 0px;
}

article h4 {
  text-align: center;
}

article h4 span {
  padding: 0px 10px;
  background: url(../img/menu-hover-bg.png) left 50% repeat-x;
}

article .img-container {
  position: relative;
  padding-bottom: 43%;
}

article .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

article .blog-content > div:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  padding-right: 10px;
}

article .blog-content > div:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding-right: 10%;
}

article .blog-content span {
  color: #ffe115;
}

article .blog-content .text {
  text-align: left;
}

article .blog-content .button {
  width: 210px;
  margin: 60px auto 0px auto;
}

@media only all and (max-width: 700px) {
  article {
    padding: 70px 0px;
  }
  article .blog-content > div:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  article .blog-content > div:nth-child(2) {
    padding-right: 0px;
  }
  article .blog-content > div:nth-child(2) p {
    text-align: justify;
  }
}

@media only all and (max-width: 370px) {
  article .blog-content .button {
    width: 100%;
  }
  article .blog-content > div:first-child .date {
    font-size: 50px;
    margin-bottom: 0px;
  }
  article .blog-content p {
    margin-bottom: 10px;
  }
}
