.top-banner {
  background: url(../img/4.webp) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15% 0px 12% 0px;
}

.top-banner h1 {
  padding-right: 50%;
}

@media only all and (min-width: 3000px) {
  .top-banner {
    background-image: url(../img/source/store/bg-4000.jpg);
  }
}

@media only all and (max-width: 3000px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image3000.jpg);
  }
}

@media only all and (max-width: 2500px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image2500.jpg);
  }
}

@media only all and (max-width: 1920px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image1920.jpg);
  }
}

@media only all and (max-width: 1366px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image1366.jpg);
  }
}

@media only all and (max-width: 800px) {
  .top-banner {
    background-image: url(../img/source/store/bg-image800.jpg);
  }
}

@media only all and (max-width: 415px) and (-webkit-max-device-pixel-ratio: 1), only all and (max-width: 415px) and (max-resolution: 1dppx) {
  .top-banner {
    background-image: url(../img/source/store/bg-image415.jpg);
  }
}

.store-wrapper {
  padding: 70px 0px 140px 0px;
  border-bottom: 1px solid #d1d5db;
}

.store-wrapper .container {
  position: relative;
}

aside {
  width: 23%;
  float: left;
}

aside input {
  display: none;
}

aside input.check-filter:checked + label + .filter-list {
  display: block;
}

aside > div {
  margin-bottom: 10px;
}

aside .banner {
  background: url(../img/source/store/aside-banner.jpg) no-repeat;
  background-size: cover;
  padding: 20% 30% 10% 5%;
}

aside .banner div {
  font-size: 26px;
  line-height: 35px;
  color: white;
}

aside .filter-name {
  padding-top: 10px;
  padding-bottom: 10px;
}

aside .filter-name:hover {
  background-color: #ffe115;
}

aside .filter-name::after {
  position: absolute;
  right: 1px;
  top: 25%;
}

.filter-name {
  display: block;
  padding-left: 14px;
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
}

.filter-name::after {
  content: "\e90c";
  font-family: "icomoon";
  font-size: 12px;
  color: #2d3a4b;
}

input.check-filter:checked + .filter-name::after {
  content: "\e90e";
}

.filter-name::before {
  content: "\e910";
  font-family: "icomoon";
  font-size: 6px;
  color: #ffe115;
  position: absolute;
  left: 1px;
  top: 30%;
}

.filter-list {
  display: none;
  margin: 25px 0px 50px 0px;
}

.filter-list a {
  display: block;
  line-height: 40px;
  font-weight: 600;
}

.filter-list a:hover, .filter-list a:active {
  color: #ffe115;
}

.filter-list a span:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.filter-list a span:nth-child(1) {
  margin-right: 20px;
}

.filter-list li {
  line-height: 40px;
  border-bottom: 1px solid #d1d5db;
  padding-left: 14px;
  position: relative;
}

.filter-list li::before {
  content: "\e90d";
  font-family: "icomoon";
  font-size: 6px;
  color: #2d3a4b;
  position: absolute;
  left: 0;
}

.filter-list li:last-child {
  border-bottom: none;
}

.filter-list li:hover {
  color: #ffe115;
}

.filter-list li:hover::before {
  color: #ffe115;
}

.filter-list li input:checked ~ label {
  color: #ffe115;
}

.filter-list li label {
  display: block;
}

.filter-list li.active::before {
  color: #ffe115;
}

.filter-list li.active a {
  color: #ffe115;
}

.filter-by-price > div {
  width: 50%;
  float: left;
}

.filter-by-price input[type="number"] {
  display: inline-block;
  border: 1px solid #d1d5db;
  width: 50%;
  margin: 0px 10px;
  padding-left: 5px;
  line-height: 30px;
}

.filter-by-price input[type="number"]:focus {
  -webkit-box-shadow: 0 0 2px 1px #ffe115;
          box-shadow: 0 0 2px 1px #ffe115;
}

.filter-by-price label {
  font-weight: 600;
}

.filter-by-price .button {
  width: 18ex;
  float: right;
  border-radius: 5px;
  margin-right: 20px;
}

.filter-by-color {
  padding-left: 14px;
  padding-right: 60px;
}

.filter-by-color input {
  display: none;
}

.filter-by-color input:checked + label {
  -webkit-box-shadow: #ffe115 0px 0px 0px 2px;
          box-shadow: #ffe115 0px 0px 0px 2px;
}

.size {
  height: 160px;
  overflow-y: scroll;
  border-bottom: 1px solid #d1d5db;
}

.aside-filters {
  display: none;
}

.aside-filters::after {
  content: "\e90c";
  font-family: "icomoon";
  font-size: 12px;
  position: absolute;
  right: -10px;
  top: 2px;
}

input[id="filters"] {
  display: none;
}

.top-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.top-filters .text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: left;
  margin-left: 30px;
}

.top-filters input {
  display: none;
}

.top-filters .filter-name {
  font-size: 16px;
  text-transform: none;
  padding-left: 0px;
}

.top-filters .filter-name::before {
  content: none;
}

.top-filters .filter-list {
  font-size: 14px;
  position: absolute;
  top: 5px;
  padding: 10px 20px;
}

.top-filters > div:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 110px;
}

.top-filters input.check-filter:checked + label + .filter-list {
  display: block;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.info {
  display: none;
}

.icon-view,
.icon-th-large {
  font-size: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.icon-view {
  right: 40px;
}

input[name="view"] {
  display: none;
}

input[name="view"]:checked + label {
  color: #ffe115;
}

input[id="icon-view"]:checked + label + input + label + main > div.product-cell {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
}

input[id="icon-view"]:checked + label + input + label + main > div.product-cell .img-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding-bottom: 0px;
}

input[id="icon-view"]:checked + label + input + label + main > div.product-cell .links {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 5px 0px 30px;
}

input[id="icon-view"]:checked + label + input + label + main > div.product-cell .links a,
input[id="icon-view"]:checked + label + input + label + main > div.product-cell .links h3 {
  text-align: left;
}

input[id="icon-view"]:checked + label + input + label + main > div.product-cell .links a {
  padding: 10px 0px 5px 0px;
}

input[id="icon-view"]:checked + label + input + label + main > div.product-cell .info {
  display: block;
  padding: 15px 0px;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

input[id="icon-view"]:checked + label + input + label + main > div.product-cell .info ul {
  padding-left: 20px;
}

input[id="icon-view"]:checked + label + input + label + main > div.product-cell .info li {
  list-style-type: disc;
  margin-bottom: 15px;
}

main {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-cell {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 70px;
}

.product-cell h3 {
  text-align: center;
}

.product-cell .img-container {
  position: relative;
  padding-bottom: 130%;
}

@media only all and (max-width: 860px) {
  aside {
    display: none;
    padding: 10px 20px;
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  aside > div {
    padding: 20px 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(45, 58, 75, 0.5);
  }
  aside > div:nth-child(6) {
    border-bottom: none;
  }
  aside .banner {
    display: none;
  }
  aside .filter-name {
    padding-left: 0px;
  }
  aside .filter-name::after {
    right: 5px;
  }
  aside .filter-name::before {
    content: none;
  }
  aside .filter-list {
    margin-bottom: 0px;
  }
  .top-filters {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-filters .text {
    display: none;
  }
  .aside-filters {
    display: inline-block;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    top: 0px;
  }
  input[id="filters"]:checked + label + aside {
    display: block;
    position: absolute;
    top: 30px;
    z-index: 2;
    width: 100%;
  }
  input[id="filters"]:checked + label::after {
    content: "\e90e";
  }
  .product-cell {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc((100% - 60px) / 3);
            flex: 0 1 calc((100% - 60px) / 3);
    margin-bottom: 50px;
  }
  .product-cell:nth-child(3n + 1) {
    margin-left: 0px;
  }
  input[id="icon-view"]:checked + label + input + label + main > div.product-cell {
    margin-left: 0px;
  }
  .store-wrapper {
    padding: 35px 0px 70px 0px;
  }
}

@media only all and (max-width: 700px) {
  input[id="icon-view"]:checked + label + input + label + main > div.product-cell .img-container {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media only all and (max-width: 600px) {
  .product-cell {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .product-cell:nth-child(odd) {
    margin-left: 0px;
  }
  .product-cell:nth-child(even) {
    margin-left: 30px;
  }
}

@media only all and (max-width: 460px) {
  .aside-filters {
    top: 20px;
  }
  .top-filters {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .store-wrapper {
    padding-top: 15px;
  }
  input[id="filters"]:checked + label + aside {
    top: 40px;
  }
  input[id="icon-view"]:checked + label + input + label + main > div.product-cell .img-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  input[id="icon-view"]:checked + label + input + label + main > div.product-cell .buttons {
    margin: 90% auto auto auto;
  }
}

.pagination {
  margin-left: calc(23% + 30px);
}

.pagination div:first-child {
  float: right;
}

.pagination div:first-child li {
  display: inline-block;
  margin-left: 3px;
}

.pagination div:first-child li a {
  display: block;
  width: 25px;
  height: 25px;
  background-color: #2d3a4b;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
}

.pagination div:first-child li a:hover {
  background-color: #ffe115;
}

.pagination div:first-child li a.active {
  background-color: #ffe115;
}

@media only all and (max-width: 860px) {
  .pagination {
    margin-left: 0px;
  }
}
