@import "icons-filter-style";

.wrapper{
   padding: 70px 0px 140px 0px;
   border-bottom: 1px solid #d1d5db;
}
aside{
   width: 270px;
   /* border: salmon 1px solid; */
   float: left;
   box-sizing: border-box;  /* Можно удалить, когда удалю border */
}
aside>div{
   margin-bottom: 30px;
}
.filter-name{
   display: block;
   font-size: 18px;
   color: #2d3a4b;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   padding-left: 14px;
   position: relative;
   background: url(../img/mark1.svg) right 50% no-repeat;
}
.filter-name::before{
   content: url(../img/yellow-box.png);
   position:absolute;
   top:-4px;
   left:0;
}

.filter-list, .filter-list a{
   font-family: 'Montserrat', sans-serif;
   line-height: 38px;
   font-weight: 600;
   color: #2d3a4b;
}
.filter-list a, .brends label, .size label, .style label{
   display: block;
   background: url(../img/arrow2.png) left 50% no-repeat;
   padding-left: 14px;
}
.filter-list a:hover{
   color: #ffe115;
}
.filter-list a span{
   float: right;
}
.filter-list li{
   border-bottom: 1px solid #d1d5db;
}
.filter-list li:last-child{
   border-bottom: none;
}
.filter-list{
   margin: 25px 0px 50px 0px;
   display: none;
}
input.check-filter{
  display: none;
}
input.check-filter:checked ~ .filter-list{
   display: block;
}
input.check-filter:checked ~ .filter-name{
   background: url(../img/mark2.svg) right 50% no-repeat;
}

.filter-by-price div{
   width: 50%;
   float: left; 
}
.filter-by-price input[type=number]{
   border: 1px solid #d1d5db;
   width: 60%;
   margin: 0px 10px;
   padding-left: 5px;
   font-size: 14px;
   line-height: 30px;
}
.filter-by-price input[type=number]:focus{
   box-shadow: 0 0 2px 1px #ffe115;
}
.filter-by-price label{
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   color: #2d3a4b;
}
.filter-by-price button{
   width: 15ex;
   height: 35px;
   float: right;
   border: 1px solid #d1d5db;
   margin: 20px 20px 0px 0px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   color: #2d3a4b;
   font-size: 14px;
   background-color: white;
   border-radius: 5px;
}
.filter-by-price button:hover{
   color: white;
   background-color: #ffe115;
}
.filter-by-color{
   padding-left: 14px;
   padding-right: 60px;
}
.filter-by-color div{
   float: left;
   padding-right: 7px;
}
.filter-by-color input{
   display: none;
}
.icon-color-disc{
   font-size: 18px;
   border-radius: 50%;
}
form.filter-by-color input:checked ~ label{
   box-shadow: #ffe115 0px 0px 0px 2px;
}

.icon-color-disc:checked{
   text-shadow: black 0px 0px 1px;
}
.brown{
   color: #7a6d61;
}
.light-brown{
   color: #c9a688;
}
.green{
   color: #40c988;
}
.turquoise{
   color: #6bd6b1;
}
.azure{
   color: #82c2dc;
}
.blue{
   color: #8295dc
}
.purple{
   color: #dc82d9;
}
.violet{
   color: #9b82dc;
}
.pink{
   color: #dc82a2;
}
.red{
   color: #e04756;
}
.coral{
   color: #f56868;
}
.yellow{
   color: #edd639;
}
.yellow-green{
   color: #cffa59;
}
.light-green{
   color: #b4fa59;
}
.сream{
   color: #e3b88c;
}
.orange{
   color: #eda339;
}
.gray{
   color:  #d1d5db;
}
.white{
   color: white;
   text-shadow: black 0px 0px 1px;
}
.black{
   color:rgb(39, 37, 37);
}
.brends input, .size input, .style input{
   display: none;
}
.brends li:hover, .size li:hover, .style li:hover {
   color: #ffe115;
}
.brends input[type=checkbox]:checked ~label{
   color:#ffe115;
}
.size input[type=checkbox]:checked ~label{
   color:#ffe115;
}
.style input[type=checkbox]:checked ~label{
   color:#ffe115;
}
.size{
   height: 150px;
   overflow-y: scroll;
   border-bottom: 1px solid #d1d5db;
}
/* MAIN */
.shop-container{
   margin-left: 270px;
   border:seagreen 1px solid; /*Удалить border*/
}
/* Верхние фильтры */
.top-filters>div:first-child{
   float: left;
   margin-left: 30px;
}
.top-filters>div:last-child{
   float: right;
}
.top-filters>div:last-child div{ 
   float:right;
   margin-right: 20px;
}
.top-filters>div:last-child div:first-child{
   margin-right: 0px;
}
/* Сортировка по */
.sort-name{
   color: #2d3a4b;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: bold;
   padding-right: 18px;
   background: url(../img/mark1.svg) right 50% no-repeat;
}
.sorting-container{
   position: relative;
   top: 0;
}
.sorting-container input{
   display: none;
}
.sort-by label{
   display: block;
   border-bottom: 1px solid #d1d5db;
   font-family: 'Montserrat', sans-serif;
   line-height: 38px;
   font-weight: 600;
   color: #2d3a4b;
}
.sort-by label:last-child{
   border-bottom:none;
}
.sort-by{
   position: absolute;
   top:30px;
   right: -11px;
   z-index: -1;
   opacity: 0;
   background-color: white;
   padding: 0px 10px;
   box-shadow: 0px 0px 7px 1px #ffe115;
   width: 14em;
}
.sort-by input[type=radio]:checked+label,.sort-by label:hover{
   color:#ffe115 ;
}
.sorting-container input[type=checkbox]:checked ~.sort-by{
   z-index: 1;
   opacity: 1;
}
.sorting-container input[type=checkbox]:checked +label{
   background: url(../img/mark2.svg) right 50% no-repeat;
}
/* конец сортировки */
/* Вид списка тоаров */
.top-filters button{
   background-color: transparent;
   color: #2d3a4b;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
}
.top-filters button:hover{
   color:#ffe115;
}
/* Товары */
.shop-row{
   margin: 70px 0px;
}

.shop-row .product-cell{
   width: calc( (100% - 90px - 8px) / 3 ); /*Удалить 8px border*/
}
.shop-row .img-container{
   padding: 0 0 150% 0;  
   margin-bottom: 35px;
}

/* Хождение по страницам */
.pagination>div{
   float: right;
   margin-left: 30px;
}
.page-selection div{
   display: inline-block;
   width:25px;
   height: 25px;
   background-color: #2d3a4b;
   color: white;
   font-size: 12px;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   line-height: 25px;
}
.page-selection div:first-child{  /*Тут подумать менять цвет по id*/
   background-color:  #ffe115;
}