$maincolor: #ffe115;
$text-maincolor: #2d3a4b;
$text-color: #666666;
$border-color: #d1d5db;

// Блок с популярными товарами
.new-arrival-row {
   overflow: hidden;
   .img-container {
      width: 25%;
      float: left;
      padding-bottom: calc(25% * 1.04);
      position: relative;
      > a {
         color: white;
         position: absolute;
         left: 0;
         right: 0;
      }
      .cell-title {
         bottom: 10%;
      }
      h3 {
         text-align: center;
         padding: 0px 2%;
      }
   }
   .buttons {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin: calc((100% * 1.04 - 60px) / 2) auto;
      a {
         display: block;
         line-height: 60px;
         text-align: center;
      }
   }
}
@media only all and (max-width: 800px) {
   .new-arrival-row {
      .img-container {
         width: 50%;
         padding-bottom: calc(50% * 1.04);
      }
   }
}
@media only all and (max-width: 200px) {
   .new-arrival-row {
      .img-container {
         width: 100%;
         padding-bottom: calc(100% * 1.04);
      }
   }
}
.top-slider {
   padding-bottom: 48%;
   position: relative;
   overflow: hidden;
   .slide1,
   .slide2,
   .slide3 {
      background-size: cover;
   }
   .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0px;
      opacity: 0;
      .button {
         z-index: 1;
         position: relative;
      }
   }
   input {
      display: none;
   }
   input:checked + label {
      background-color: rgba($color: $maincolor, $alpha: 0.7);
   }
   input:checked + label + div {
      opacity: 1;
      transition-duration: 1s;
   }

   label {
      background-color: rgba($color: white, $alpha: 0.5);
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 5px rgba($color: $text-maincolor, $alpha: 0.8) solid;
      bottom: 15px;
      z-index: 2;
   }
   label[for="top-slide1"] {
      left: calc(50% - 40px);
   }
   label[for="top-slide2"] {
      left: calc(50% - 10px);
   }
   label[for="top-slide3"] {
      right: calc(50% - 40px);
   }
   label:hover {
      background-color: rgba($color: $maincolor, $alpha: 0.7);
      transform: scale(1.3, 1.3);
   }
   .container {
      padding-top: 5%;
      h1 {
         span {
            display: block;
         }
      }
      h3 {
         color: white;
         margin-top: 3%;
      }
   }
   .slide1 {
      h1 {
         text-align: right;
      }
      .button {
         float: right;
      }
   }
}
@media only all and (max-width: 640px) {
   .top-slider {
      padding-bottom: 60%;
      .button {
         padding: 10px;
         width: 10em;
         margin-top: 20px;
      }
   }
}
@media only all and (max-width: 500px) {
   .top-slider {
      padding-bottom: 65%;
   }
}
@media only all and (max-width: 400px) {
   .top-slider {
      padding-bottom: 80%;
   }
}
@media only all and (max-width: 330px) {
   .top-slider {
      padding-bottom: 100%;
   }
}
@media only all and (min-width: 3001px) {
   .top-slider {
      .slide1 {
         background-image: url(../img/source/index/slide1-4000.jpg);
      }
      .slide2 {
         background-image: url(../img/source/index/slide2-4000.jpg);
      }
      .slide3 {
         background-image: url(../img/source/index/slide3-4000.jpg);
      }
   }
}
@media only all and (max-width: 3000px) {
   .top-slider {
      .slide1 {
         background-image: url(../img/source/index/slide1-3000.jpg);
      }
      .slide2 {
         background-image: url(../img/source/index/slide2-3000.jpg);
      }
      .slide3 {
         background-image: url(../img/source/index/slide3-3000.jpg);
      }
   }
}
@media only all and (max-width: 2500px) {
   .top-slider {
      .slide1 {
         background-image: url(../img/source/index/slide1-2500.jpg);
      }
      .slide2 {
         background-image: url(../img/source/index/slide2-2500.jpg);
      }
      .slide3 {
         background-image: url(../img/source/index/slide3-2500.jpg);
      }
   }
}
@media only all and (max-width: 1920px) {
   .top-slider {
      .slide1 {
         background-image: url(../img/source/index/slide1-1920.jpg);
      }
      .slide2 {
         background-image: url(../img/source/index/slide2-1920.jpg);
      }
      .slide3 {
         background-image: url(../img/source/index/slide3-1920.jpg);
      }
   }
}
@media only all and (max-width: 1366px) {
   .top-slider {
      .slide1 {
         background-image: url(../img/source/index/slide1-1366.jpg);
      }
      .slide2 {
         background-image: url(../img/source/index/slide2-1366.jpg);
      }
      .slide3 {
         background-image: url(../img/source/index/slide3-1366.jpg);
      }
   }
}
@media only all and (max-width: 800px) {
   .top-slider {
      .slide1 {
         background-image: url(../img/source/index/slide1-800.jpg);
      }
      .slide2 {
         background-image: url(../img/source/index/slide2-800.jpg);
      }
      .slide3 {
         background-image: url(../img/source/index/slide3-800.jpg);
      }
   }
}
@media only all and (max-width: 415px) and (max-resolution: 1dppx) {
   .top-slider {
      .slide1 {
         background-image: url(../img/source/index/slide1-415.jpg);
      }
      .slide2 {
         background-image: url(../img/source/index/slide2-415.jpg);
      }
      .slide3 {
         background-image: url(../img/source/index/slide3-415.jpg);
      }
   }
}

.blog-items-wrapper {
   display: flex;
}
.blog-item {
   flex: 1 1 0px;
   padding: 6%;
   color: white;
   h3 {
      text-align: left;
      padding-bottom: 4%;
   }
   a {
      color: white;
      display: block;
   }
   .text {
      text-align: left;
      color: white;
      font-size: 16px;
      font-weight: bold;
   }
}
.blog-item-1 {
   background: url(../img/source/blog/article1-600.jpg) no-repeat;
   background-size: cover;
}

.blog-item-2 {
   border-left: 1px solid $border-color;
   background: url(../img/source/blog/article2-600.jpg) no-repeat;
   background-size: cover;
}
@media only all and (max-width: 420px) {
   .blog-item-1 {
      background-image: url(../img/source/blog/article1-210.jpg);
   }
   .blog-item-2 {
      background-image: url(../img/source/blog/article2-210.jpg);
   }
}
@media only all and (max-width: 600px) {
   .blog-items-wrapper {
      flex-direction: column;
   }
}
.products-slider {
   margin-bottom: 140px;
}
@media only all and (max-width: 700px) {
   .products-slider {
      margin-bottom: 70px;
   }
}
