.products-slider {
   position: relative;
   padding-bottom: calc(25% * 1.85);
   overflow: hidden;
   h3 {
      text-align: center;
   }
   .product-cell {
      width: 25%;
      height: 100%;
      overflow: hidden;
   }
   .slide1 {
      left: 0;
   }
   @for $slide from 2 through 5 {
      .slide#{$slide} {
         left: 100%;
      }
   }
   .slide1 {
      animation: products-slider-1 30s ease infinite;
   }

   @for $slide from 2 through 5 {
      .slide#{$slide} {
         animation: products-slider-2 30s ease infinite;
      }
   }
   .slide2 {
      animation-delay: 5.4s;
   }
   .slide3 {
      animation-delay: 11.4s;
   }
   .slide4 {
      animation-delay: 17.4s;
   }
   .slide5 {
      animation-delay: 23.4s;
   }
}

@keyframes products-slider-1 {
   from {
      transform: translate(0, 0);
   }
   18% {
      transform: translate(0, 0);
   }
   20% {
      transform: translate(-100%, 0);
   }
   30% {
      transform: translate(-100%, -100%);
   }
   40% {
      transform: translate(100%, -100%);
   }
   98% {
      transform: translate(100%, 0);
   }
   to {
      transform: translate(0, 0);
   }
}

@keyframes products-slider-2 {
   from {
      transform: translate(0, 0);
   }
   2% {
      transform: translate(-100%, 0);
   }
   20% {
      transform: translate(-100%, 0);
   }
   22% {
      transform: translate(-200%, 0);
   }
   30% {
      transform: translate(-200%, -100%);
   }
   40% {
      transform: translate(0, -100%);
   }
   to {
      transform: translate(0, 0);
   }
}

// Адаптив для слайдера
@media only all and (max-width: 900px) and (min-width: 600.1px) {
   .products-slider {
      padding-bottom: 50%;
      .img-container {
         height: 55%;
      }
      .links {
         top: 55%;
      }
   }
}
@media only all and (max-width: 600px) {
   .products-slider {
      padding-bottom: calc(50% * 1.85);
      .slide > div {
         &:first-child {
            left: 0;
         }
         &:nth-child(2) {
            left: 50%;
         }
         &:nth-child(3) {
            left: 100%;
         }
         &:last-child {
            right: -100%;
         }
      }
      .product-cell {
         width: 50%;
         position: absolute;
      }
      .slide1 {
         animation: products-slider-1-adaptive 30s ease infinite;
      }

      @for $slide from 2 through 5 {
         .slide#{$slide} {
            animation: products-slider-2-adaptive 30s ease infinite;
         }
      }
      .slide2 {
         animation-delay: 5.7s;
      }
      .slide3 {
         animation-delay: 11.7s;
      }
      .slide4 {
         animation-delay: 17.7s;
      }
      .slide5 {
         animation-delay: 23.7s;
      }
   }
}

@keyframes products-slider-1-adaptive {
   from {
      transform: translate(0, 0);
   }
   9% {
      transform: translate(0, 0);
   }
   10% {
      transform: translate(-100%, 0);
   }
   19% {
      transform: translate(-100%, 0%);
   }
   20% {
      transform: translate(-200%, 0%);
   }
   25% {
      transform: translate(-200%, -100%);
   }
   30% {
      transform: translate(200%, -100%);
   }
   89% {
      transform: translate(200%, 0);
   }
   90% {
      transform: translate(100%, 0);
   }
   99% {
      transform: translate(100%, 0);
   }
   to {
      transform: translate(0, 0);
   }
}

@keyframes products-slider-2-adaptive {
   from {
      transform: translate(0, 0);
   }
   1% {
      transform: translate(-100%, 0);
   }
   10% {
      transform: translate(-100%, 0);
   }
   11% {
      transform: translate(-200%, 0);
   }
   20% {
      transform: translate(-200%, 0);
   }
   21% {
      transform: translate(-300%, 0);
   }
   30% {
      transform: translate(-300%, -100%);
   }
   40% {
      transform: translate(0, -100%);
   }
   to {
      transform: translate(0, 0);
   }
}
@media only all and (max-width: 470px) and (min-width: 300.1px) {
   .products-slider {
      padding-bottom: 100%;
      .img-container {
         height: 55%;
      }
      .links {
         top: 55%;
         a {
            padding-top: 5px;
         }
      }
   }
}
@media only all and (max-width: 300px) {
   .products-slider {
      padding-bottom: calc(100% * 1.85);
      .slide > div {
         &:first-child {
            left: 0;
         }
         &:nth-child(2) {
            left: 100%;
         }
         &:nth-child(3) {
            left: 200%;
         }
         &:last-child {
            left: 300%;
         }
      }
      .product-cell {
         width: 100%;
         position: absolute;
      }
      .slide1 {
         animation: products-slider-3-adaptive 30s ease infinite;
      }

      @for $slide from 2 through 5 {
         .slide#{$slide} {
            animation: products-slider-4-adaptive 30s ease infinite;
         }
      }
      .slide2 {
         animation-delay: 5.85s;
      }
      .slide3 {
         animation-delay: 11.85s;
      }
      .slide4 {
         animation-delay: 17.85s;
      }
      .slide5 {
         animation-delay: 23.85s;
      }
   }
}
@keyframes products-slider-3-adaptive {
   from {
      transform: translate(0, 0);
   }
   4.5% {
      transform: translate(0, 0);
   }
   5% {
      transform: translate(-100%, 0);
   }
   9.5% {
      transform: translate(-100%, 0);
   }
   10% {
      transform: translate(-200%, 0);
   }
   14.5% {
      transform: translate(-200%, 0);
   }
   15% {
      transform: translate(-300%, 0);
   }
   19.5% {
      transform: translate(-300%, 0);
   }
   20% {
      transform: translate(-400%, 0);
   }
   30% {
      transform: translate(-400%, -100%);
   }
   40% {
      transform: translate(100%, -100%);
   }
   99.5% {
      transform: translate(100%, 0);
   }
   to {
      transform: translate(0, 0);
   }
}

@keyframes products-slider-4-adaptive {
   from {
      transform: translate(0, 0);
   }
   0.5% {
      transform: translate(-100%, 0);
   }
   5% {
      transform: translate(-100%, 0);
   }
   5.5% {
      transform: translate(-200%, 0);
   }
   10% {
      transform: translate(-200%, 0);
   }
   10.5% {
      transform: translate(-300%, 0);
   }
   15% {
      transform: translate(-300%, 0);
   }
   15.5% {
      transform: translate(-400%, 0);
   }
   20% {
      transform: translate(-400%, 0);
   }
   20.5% {
      transform: translate(-500%, 0);
   }
   40% {
      transform: translate(-500%, -100%);
   }
   50% {
      transform: translate(0, -100%);
   }
   to {
      transform: translate(0, 0);
   }
}
@media only all and (max-width: 240px) {
   .products-slider {
      .slide .product-cell {
         .text {
            display: none;
         }
      }
   }
}
