$maincolor: #ffe115;
$text-maincolor: #2d3a4b;
$text-color: #666666;
$border-color: #d1d5db;

.top-banner {
   padding: 15% 0px 10% 0px;
   background: url(../img/4.webp) no-repeat;
   background-repeat: no-repeat;
   background-size: cover;
   .title,
   .text {
      color: white;
   }
   .text-box {
      padding: 0px;
   }
   .container {
      padding-right: 50%;
   }
}
@media only all and (min-width: 3000px) {
   .top-banner {
      background-image: url(../img/source/store/bg-4000.jpg);
   }
}
@media only all and (max-width: 3000px) {
   .top-banner {
      background-image: url(../img/source/store/bg-image3000.jpg);
   }
}
@media only all and (max-width: 2500px) {
   .top-banner {
      background-image: url(../img/source/store/bg-image2500.jpg);
   }
}
@media only all and (max-width: 1920px) {
   .top-banner {
      background-image: url(../img/source/store/bg-image1920.jpg);
   }
}
@media only all and (max-width: 1366px) {
   .top-banner {
      background-image: url(../img/source/store/bg-image1366.jpg);
   }
}
@media only all and (max-width: 800px) {
   .top-banner {
      background-image: url(../img/source/store/bg-image800.jpg);
   }
}
@media only all and (max-width: 415px) and (max-resolution: 1dppx) {
   .top-banner {
      background-image: url(../img/source/store/bg-image415.jpg);
   }
}
.store-wrapper {
   padding: 70px 0px 140px 0px;
   border-bottom: 1px solid #d1d5db;
}
aside {
   width: 23%;
   float: left;
   input {
      display: none;
   }
   input.check-filter:checked + label + .filter-list {
      display: block;
   }
   > div {
      margin-bottom: 30px;
   }
   .banner {
      background: url(../img/source/store/aside-banner.jpg) no-repeat;
      background-size: cover;
      padding: 20% 30% 10% 5%;
      div {
         font-size: 26px;
         line-height: 35px;
         color: white;
      }
   }
   .filter-name::after {
      position: absolute;
      right: 0;
      top: 25%;
   }
}
.filter-name {
   display: block;
   padding-left: 14px;
   position: relative;
   font-size: 18px;
   text-transform: uppercase;
   &::after {
      content: "\e90c";
      font-family: "icomoon";
      font-size: 10px;
      color: $text-maincolor;
   }
   input.check-filter:checked + &::after {
      content: "\e90e";
   }
   &::before {
      content: "\e910";
      font-family: "icomoon";
      font-size: 6px;
      color: $maincolor;
      position: absolute;
      left: 0;
      top: 30%;
   }
}

.filter-list {
   display: none;
   margin: 25px 0px 50px 0px;
   a {
      display: block;
      line-height: 40px;
      font-weight: 600;
      &:hover,
      &:active {
         color: $maincolor;
      }
      span {
         &:nth-child(2) {
            position: absolute;
            bottom: 0;
            right: 0;
         }
         &:nth-child(1) {
            margin-right: 20px;
         }
      }
   }
   li {
      line-height: 40px;
      border-bottom: 1px solid $border-color;
      padding-left: 14px;
      position: relative;
      &::before {
         content: "\e90d";
         font-family: "icomoon";
         font-size: 6px;
         color: $text-maincolor;
         position: absolute;
         left: 0;
      }
      &:last-child {
         border-bottom: none;
      }
      &:hover {
         color: $maincolor;
         &::before {
            color: $maincolor;
         }
      }
      input:checked ~ label {
         color: $maincolor;
      }
      label {
         display: block;
      }
   }
}
.filter-by-price {
   > div {
      width: 50%;
      float: left;
   }
   input[type="number"] {
      display: inline-block;
      border: 1px solid #d1d5db;
      width: 60%;
      margin: 0px 10px;
      padding-left: 5px;
      line-height: 30px;
      &:focus {
         box-shadow: 0 0 2px 1px #ffe115;
      }
   }
   label {
      font-weight: 600;
   }
   .button {
      width: 18ex;
      float: right;
      border-radius: 5px;
      margin-right: 20px;
   }
}
.filter-by-color {
   padding-left: 14px;
   padding-right: 60px;
   input {
      display: none;
   }
   & input:checked + label {
      box-shadow: #ffe115 0px 0px 0px 2px;
   }
}
.size {
   height: 160px;
   overflow-y: scroll;
   border-bottom: 1px solid #d1d5db;
}

// Верхние фильтры
.aside-filters {
   display: none;
   &::after {
      content: "\e90c";
      font-family: "icomoon";
      font-size: 12px;
   }
}
input[id="filters"] {
   display: none;
}
.top-filters {
   margin-left: calc(23% + 30px);
   position: relative;
   .text {
      float: left;
   }
   input {
      display: none;
   }
   .view input:checked + label {
      color: $maincolor;
   }
   .filter-name {
      font-size: 16px;
      text-transform: none;
      padding-left: 0px;
      &::before {
         content: none;
      }
   }
   .filter-list {
      font-size: 14px;
      position: absolute;
      top: 10px;
      padding-left: 5px;
      padding-right: 5px;
   }
   > div:nth-child(2),
   > div:nth-child(3) {
      float: right;
   }
   > div:nth-child(2) {
      font-size: 20px;
   }
   input.check-filter:checked + label + .filter-list {
      display: block;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1;
   }
   .icon-view,
   .icon-th-large {
      margin-left: 30px;
   }
}

// Main
main {
   margin-left: 23%;
   padding-top: 50px;
}
.product-cell {
   width: calc((100% - 90px) / 3);
   padding-bottom: calc(((100% - 90px) / 3) * 1.85);
   margin: 0px 0px 50px 30px;
   h3 {
      text-align: center;
   }
}

@media only all and (max-width: 860px) {
   aside {
      display: none;
      padding: 10px 20px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      > div {
         padding: 20px 0px;
         margin-bottom: 0px;
         border-bottom: 1px solid rgba($color: $text-maincolor, $alpha: 0.5);
         &:nth-child(6) {
            border-bottom: none;
         }
      }
      .banner {
         display: none;
      }
      .filter-name {
         padding-left: 0px;
         &::after {
            right: 5px;
         }
         &::before {
            content: none;
         }
      }
      .filter-list {
         margin-bottom: 0px;
      }
   }
   main {
      margin-left: 0px;
   }
   .top-filters {
      margin-left: 0px;
      > .text {
         display: none;
      }
   }
   .aside-filters {
      display: inline-block;
      position: relative;
      font-size: 16px;
      top: 16px;
   }

   input[id="filters"]:checked + label + aside {
      display: block;
      position: absolute;
      top: 80px;
      z-index: 2;
      width: calc(100% - 20px);
   }
   input[id="filters"]:checked + label {
      &::after {
         content: "\e90e";
      }
   }

   .product-cell {
      width: calc((100% - 60px) / 3);
      padding-bottom: calc(((100% - 60px) / 3) * 1.85);
      &:nth-child(3n + 1) {
         margin-left: 0px;
      }
   }
   .store-wrapper {
      padding: 35px 0px 70px 0px;
      position: relative;
   }
}
@media only all and (max-width: 600px) {
   .product-cell {
      width: calc((100% - 30px) / 2);
      padding-bottom: calc(((100% - 30px) / 2) * 1.85);
      &:nth-child(odd) {
         margin-left: 0px;
      }
      &:nth-child(even) {
         margin-left: 30px;
      }
   }
}
@media only all and (max-width: 460px) {
   .aside-filters {
      top: 0px;
   }
   .top-filters {
      > div {
         &:nth-child(3) {
            float: left;
            padding-top: 10px;
         }
      }
      .icon-view,
      .icon-th-large {
         margin-left: 10px;
      }
   }

   .product-cell {
      padding-bottom: calc(((100% - 30px) / 2) * 2);
      background-color: violet;
      .img-container {
         height: 65%;
      }
      .links {
         top: 65%;
         background-color: red;
      }
   }
}
// Хождение по страницам

.pagination {
   margin-left: calc(23% + 30px);
   & div:first-child {
      float: right;
      li {
         display: inline-block;
         margin-left: 3px;
         a {
            display: block;
            width: 25px;
            height: 25px;
            background-color: #2d3a4b;
            color: white;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
            &:target {
               background-color: $maincolor;
            }
         }
      }
   }
}
